
adminpageCSS {
    border:
            solid #3c97bf
}

side_nav {
    background-color: rgba(255, 255, 255, 0.27);
    width: 200px;
    height: 465px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px dotted #bed1dc;
    box-shadow: 0 0 20px #888888;
}

side_nav>h1{
    border-bottom: 1px solid #334d60;
}

side_nav>label{
    margin-top: 20px;
    border-top: 1px solid #bed1dc;
    border-bottom: 1px solid #bed1dc;
    padding-bottom: 30px;
    padding-top: 30px;
}

side_nav>label:hover{
    cursor: pointer;
}

label>h3{
    font-weight: bolder;
    font-size: 20px;
    color: #334d60;
}

detail_tap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: left;
    width: 100%;
    height: max-content;
}

side_nav > label > input {
    display: none;
}

h1 {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    font-weight: bolder;
    color: #4d4d4d;
}

h2 {
    font-size: 20px;
    font-weight: bolder;
}

td, th{
    border: 1px solid #1d3d48;
    text-align: center;
}
.container {overflow: scroll
}
.UT_No      {width: 50px;}
.UT_ID      {width: 100px}
.UT_Email   {width: 200px}
.UT_Match   {width: 70px}
.UT_Address {width: 150px}
.UT_Name    {width: 150px}
.UT_Category{width: 200px}
.UT_Age     {width: 100px}
.UT_Sex     {width: 150px}
