side_nav {
    background-color: rgb(128, 128, 128);
    width: 200px;
    height: 465px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}

side_nav>h1{
    border-bottom: 2px solid black;
}

side_nav>label{
    margin-top: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
    padding-top: 30px;
}

side_nav>label:hover{
    cursor: pointer;
}

label>h3{
    font-weight: bolder;
    font-size: 20px;
}

detail_tap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: left;
    width: 100%;
    height: max-content;
}

side_nav > label > input {
    display: none;
}

h1 {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    font-weight: bolder;
    color: white;
}

h2 {
    font-size: 20px;
    font-weight: bolder;
}

td, th{
    border: 2px solid black;
    text-align: center;
}
.container {overflow: scroll
}
.UT_No      {width: 50px;}
.UT_ID      {width: 100px}
.UT_Email   {width: 200px}
.UT_Match   {width: 70px}
.UT_Address {width: 150px}
.UT_Name    {width: 150px}
.UT_Category{width: 200px}
.UT_Age     {width: 100px}
.UT_Sex     {width: 150px}
