    /* 스타일을 추가할 부분 */
    body {
        background-color: #f6f5f7; /* 페이지 배경색 설정 */
    }

    .container {
        width: 70%;
        background-color: #ffffff; /* 흰색 배경 설정 */
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #343a40; /* 글자 색상 설정 */
    }

    .table {
        width: 100%;
    }

    .td {
        font-weight: bold;
        width: 120px;
    }

    .btn-secondary {
        background-color: #6c757d; /* 버튼 배경색 설정 */
        border-color: #6c757d; /* 버튼 테두리 색상 설정 */
        color: #ffffff; /* 버튼 글자색 설정 */
    }

    .btn-secondary:hover {
        background-color: #5a6268; /* 마우스 호버시 버튼 배경색 변경 */
        border-color: #545b62; /* 마우스 호버시 버튼 테두리 색상 변경 */
    }



    .btn-outline-primary {
        font-weight: bold;
        float: right;
        border-radius: 20px;
        font-size: 15px; /* 폰트 크기 설정 */
        color: black; /* 버튼 글자색 설정 */
        border-color: black; /* 버튼 테두리 색상 설정 */
    }

    .btn-outline-primary:hover {
        background-color: #15f149; /* 마우스 호버시 버튼 배경색 변경 */
        color: #ffffff; /* 마우스 호버시 버튼 글자색 변경 */
        border-color: #48f13c; /* 마우스 호버시 버튼 테두리 색상 변경 */
    }

