body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#navBox {
    /* border: solid black; */
    margin: 10px;
    margin-top: 20px;
    float: right;
    font-size: small;
}
#navBox * {
    color: #3d6976;

}

#navBox button{
    width: 30px;
    margin-right: 10px;
}

#navBox a{
    margin: 15px;
    font-weight: bold;
}

#clear {
    clear: right;
}

#header {
    width: 100%;
    /*background-color: #070a38;*/
    height: 80px;
}

#logo {
    /* border: solid black; */
    margin: 10px;
    width: 250px;
}

/*----------------------------header css 끝--------------------------*/
#BOX {
    padding: 20px;
    border-left:0.5px solid #dbd8d8;
    display: flex;
    /* background-color: antiquewhite; */
    justify-content: center;
    width: 100%;
    border-top: 1px solid #070a38;
    background-color: #ffffff;
}

/* content 전체 박스 */

#mypageBtn{
    /* border: solid red; */
    width: 50px;
    height: 50px;
    z-index: 10;
    margin-left: 10px;
}

#mypage {
    /* background-color: aqua; */
    width: 400px;
    height: 955px;
}

/*↑↑↑↑↑↑--------------------------mypage CSS-------------------------↑↑↑↑↑↑↑↑*/

/*-------------------------- main CSS --------------------------*/




#map {
    border-right:0.5px solid #dbd8d8;
    display: flex;
    justify-content: center;
    width: 75%;
    height: 955px;
}

#map button {
    color: #070a38;
}

#prev {
    position: absolute;
    left: 0;
    margin-left: 17px;
    z-index: 2;

}

.area {
    position: absolute;
    background: #fff;
    border: 1px solid #888;
    border-radius: 3px;
    font-size: 12px;
    top: -5px;
    left: 15px;
    padding: 2px;
}

.info {
    font-size: 12px;
    padding: 5px;
}

.info .title {
    font-weight: bold;
}

p {
    text-align: center;
    color:rgb(233, 255, 238);
    font-weight: bold;
    font-size: x-small;
}
/*↑↑↑↑-------------map CSS--------------↑↑↑↑*/

/*-------------↓↓↓↓↓↓↓↓↓↓↓↓강현아 여기다↓↓↓↓↓↓↓↓↓↓↓↓--------------*/

#userList {
    /* background-color: aqua; */
    margin-left: 20px;
    width: 25%;
}

#listIcon {
    width: 50px;
}

/*↑↑↑↑------userList CSS----------↑↑↑↑*/




