input {
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}
select {
    height: 40px;
    align-items: center;
}
form {
    display: flex;
}

button {
    float: left;
}

.mypagecontainer {
    /*border: 1px solid green;*/
    display: flex;
}
.containerbtn {
    margin-left: 15%;
}
.btncontainer {
    border: 1px solid black;
}
.myp {
    border: 1px solid black;
    display: flex;
    overflow-x: auto;
}
.tablecontainer {
    /* border: 1px solid blue; */
    display: flex;
}
.td {
    /*border: 1px solid black;*/
    width: 25%;
    align-items: center;
}
.conten {
    width: 75%;
}
#userId, #petname, #category, #petage, #petsex, #petdetail {
    border: 1px solid black;
    width: 100%;
}
#back, #mypage, #myupdate {
    width: 120px;
}
#addbtn, #delbtn {
    width: 100px;
    margin-left: 10px;
}

#buddysex {
    display: flex;
}
#buddyse{
    border: 1px solid black;
    width: 40%;
}
#sebuddy{
    width: 30%;
}
