input {
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}
select {
    height: 40px;
    align-items: center;
}
form {
    display: flex;
}
.mypagecontainer {
    border: 1px solid green;
    display: flex;
}
.btncontainer {
    border: 1px solid black;
}
.myp {
    /* border: 1px solid red; */
    display: flex;
    overflow-x: auto;
}
.tablecontainer {
    /* border: 1px solid blue; */
    display: flex;
}
.td {
    /*border: 1px solid black;*/
    width: 150px;
    align-items: center;
}
.conten {
    width: 500px;
}
#userId, #petname, #category, #petage, #petsex, #petdetail {
    border: 1px solid black;
    width: 100%;
}
#myupdate {
    width: 100px;
    margin-left: 680px;
}
#addbtn, #delbtn {
    width: 100px;
    margin-left: 10px;
}
