input {
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}
form {
    display: flex;
}
.container {
    background-color: #02f40a;
    justify-content: center;
    float: right;
    vertical-align: middle;
}
.mypagecontainer {
    background-color: green;
    display: flex;
    /*margin-top: 50px;*/
}
.btncontainer {
    border: 1px solid black;
}
.myp {
    border: 1px solid red;
    display: flex;
    overflow-x: auto;
}
.tablecontainer {
    /*border: 1px solid blue;*/
    display: flex;
}
label {
    background-color:#3c97bf;

}
.tds {
    /*border: 1px solid black;*/
    width: 30%;
}

#userId, #pw, #phone, #email, #region, #buddyName, #category, #buddyAge, #buddySex, #buddyDetail {
    width: 100%;
}

