<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script><!--/*J QUERY*/-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script><!--/*J QUERY*/-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=Do+Hyeon&family=Gamja+Flower&family=Jua&family=Noto+Sans+KR:wght@200&family=Noto+Serif+KR:wght@300&family=Rubik:wght@500&display=swap"
          rel="stylesheet">
    <title>WithBuddy-home</title>
    <!--/*카카오맵 API*/-->
    <script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=9f401d5eee037f01336d46069b8cd7fd"></script>
    <!--    <script src="http://openapi.seoul.go.kr:8088/4562487251726c613132314379516559/json/SeoulGilWalkCourse/1/5"></script>-->
    <!--/*산책로API*/-->
    <script src="https://kit.fontawesome.com/b53e50b69e.js" crossorigin="anonymous"></script>
    <!--/* 부트스트랩 5version */-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script th:inline="javascript">
        <!--    서버에서 가져온 데이터 js로 공유-->

        var mapData = [[${location}]];</script>

</head>
<th:block th:with="logged_user=${#authentication.principal.user}">

    <body>
    <div id="header">
        <a id="homeBtn" th:href="@{'/home'}">
            <img id="logo" src="/image/withbuddy_logo2.png">
        </a>
        <div id="navBox">
            <button class="btn btn-outline-secondary btn-xs" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#mypage" id="mypagesideBtn">
                <i class="fa-solid fa-user fa-1x"></i>
            </button>
            <!--    alarm 리스트 버튼 누르면 alarmModal 팝업 start   -->
            <button type="button" class="btn btn-white" id="alarmBtn">
                <i class="fa-regular fa-bell"></i>
            </button>
            <!--    alarm 리스트 버튼 누르면 alarmModal 팝업  end   -->

            <!--    dm 리스트 버튼 누르면 dmModal 팝업  start  -->
            <button type="button" class="btn btn-white" id="dmListBtn">
                <i class="fa-regular fa-message"></i>
            </button>

        </div>
    </div>
    <div id="BOX">
        <div class="offcanvas offcanvas-end" id="mypage">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title">
                    <i class="fa-solid fa-user fa-1x"></i>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div id="mypageBox">
                <div id="whoau">
                    <!-- 첨부파일이미지 불러오는 코드로 변경 필요↓ -->
                    <div id="mypageImage">
                        <img class="myImage"
                             src="https://img.freepik.com/free-photo/dog-waiting-in-the-veterinarian-office_23-2149198673.jpg?w=740&t=st=1703144333~exp=1703144933~hmac=62911612f6e5f6b6fe1b5b190d39804abd1620e32d60f251f09be9b15543665ehttps://img.freepik.com/free-photo/dog-waiting-in-the-veterinarian-office_23-2149198673.jpg?w=740&t=st=1703144333~exp=1703144933~hmac=62911612f6e5f6b6fe1b5b190d39804abd1620e32d60f251f09be9b15543665e"><br>
                    </div>
                    <div id="infoBox">
                        <a id="mypageBtn" th:href="@{/user/mypage}">
                            My page<i class="fa-solid fa-angles-right"></i>
                        </a>
                        <form name="frmmynfo" method="post">
                            <table th:id="information">
                                <tr>
                                    <td class="tdm">NAME :</td>
                                    <td style="width: 180px;"><span th:utext="${user.userId}"></span></td>
                                </tr>
                                <tr>
                                    <td class="tdm">Buddy :</td>
                                    <td style="width: 180px;"><span th:utext="${buddy.buddyName}"></span></td>
                                </tr>
                                <tr>
                                    <td class="tdm">Dog Breeds:</td>
                                    <td style="width: 180px;"><span th:utext="${buddy.category}"></span></td>
                                </tr>
                            </table>
                        </form>
                        <a th:href="@{'/home'}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/*###########################TO. 강현 - 여기부터 USER LIST에 관여하는 TABLE입니다###########################*/-->
        <div class="container mt-3" id="userList">
            <img src="/image/list_icon.png" id="listIcon">
            <table class="table table-hover">
                <tbody id="userTable">
                <tr> <!--/*진짜 리스트다*/-->

                </tr>
                <tr>
                    <td><i class="fa-solid fa-image-portrait"></i></td>
                    <td>Moe</td>
                    <td>sdfklajhnsdlkfa%%</td>
                </tr>
                <tr>
                    <td><i class="fa-solid fa-image-portrait"></i></td>
                    <td>Dooley</td>
                    <td>sdfklajhnsdlkfa%%</td>
                </tr>
                </tbody>
            </table>
            <!-- 필터 관련 HTML -->
            <!--            <div class="Filter">-->
            <!--                <label class="strollLabel"><input type="checkbox" id="strollFilter" value="stroll" checked>-->
            <!--                    <div class="FilterIconBox">-->
            <!--                        <div class="OnIconBox"><span>산책로</span></div>-->
            <!--                        <div class="OffIconBox"><span>산책로</span></div>-->
            <!--                    </div>-->
            <!--                </label>-->
            <!--                <label class="hospitalLabel"><input type="checkbox" id="hospitalFilter" value="locker" checked>-->
            <!--                    <div class="FilterIconBox">-->
            <!--                        <div class="OnIconBox"><span>동물병원</span></div>-->
            <!--                        <div class="OffIconBox"><span>동물병원</span></div>-->
            <!--                    </div>-->
            <!--                </label>-->
            <!--            </div>-->
        </div>
        <div id="map">
            <button class="btn btn-outline-warning" id="prev" type="button"><i
                    class="fa-solid fa-map-location-dot"></i></button>
        </div>

    </div>
    <!-- 모달 모음 유저 프로필 모달 , dm 모달 , 채팅 모달 -->
    <div class="modal fade" id="alarmModal" tabindex="-1" aria-labelledby="profileModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table id="alarmTable">

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel">
        <div class="modal-dialog">
            <div class="modal-content" id="profileModalContent">

            </div>
        </div>
    </div>
    <div class="modal fade" id="dmModal" tabindex="-1" aria-labelledby="dmModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table id="dmTable">
                        <tr>
                            <td> 매칭이 없습니다.</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="chatModal" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1"
         aria-labelledby="chatModalLabel">
        <div class="modal-dialog" id="chatDialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" id="chatClose" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="mx-auto modal-body overflow-auto" id="chatBox"
                     style="width: 450px; height: 500px; border: 1px solid black; background: lavenderblush">

                </div>
                <div class="modal-footer">
                    <form class="mx-auto d-inline-flex" onclick="return false;">
                        <input type="text" id="chatMessage" class="col-auto form-control" value="">
                        <button type="submit" id="chatSendBtn" class="col-auto btn btn-outline-dark chatSend">
                            <i class="fa-regular fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 모달 모음 유저 프로필 모달 , dm 모달 , 채팅 모달 -->

    </body>
    <script th:src="@{/js/map.js}"></script>
    <script src="/js/app.js"></script>
</th:block>
</html>